html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* General reset */
img {
	border-style: none;
	display: block;
}
/* */
body {
	color: black;
	background-color: #ffffff;
	font: 11px/14px verdana, Geneva, sans-serif;
	min-width: 1100px;
}
.header_wrapper {
	background: url("../img/header_bg.jpg") repeat-x #221b1b;
}
header {
	width: 819px;
	margin: 0 auto;
	background-color: #727272;
	overflow: hidden;
	padding: 0px 32px 26px 53px;
}
.logo {
	background-image: url("../img/logo.jpg");
	text-indent: -99999px;
	width: 154px;
	height: 87px;
	float: left;
	margin-top: 37px;
}
header ul {
	float: right;
	margin-top: 19px;
}
header ul li {
	 float: left;
	background: url("../img/head_list_sep.jpg") 0 50% no-repeat;
}
header ul li:first-child {
	background: none;
}
header ul li a {
	color: #ffffff;
	padding: 0px 11px 0px 10px;
	text-decoration: none;
	font-size: 12px;
}
header ul li a:hover {
	text-decoration: underline;
}
.main_wrapper {
	background: url("../img/bg_wrapper_main.jpeg") repeat-x #fff;
}
.main {
	width: 904px;
	margin: 0 auto;
	background: url("../img/bg_main.jpg") repeat-x #fff;
	overflow: hidden;
}
.left_side{
	width: 225px;
	float: left;
	padding: 32px 20px 30px 25px;
}
.left_side h2 {
	font-size: 20px;
	line-height: 26px;
	font-weight: normal;
	margin-bottom: 26px;
}
.left_side img {
	float: left;
	width: 86px;
	height: 73px;
	margin: 0px 15px 0px 0px;
}
.left_side article p {
	margin: 0px 0px 4px 0px;
	white-space: pre-wrap;
}
.left_side article {
	margin-bottom: 35px;
}
.content nav {
	padding: 12px 0px;
	text-align: center;
	margin-bottom: 40px;
}
.content {
	float: right;
	width: 566px;
	padding: 0px 68px 0px 0px;
}
.content nav ul li {
	display: inline-block;
	margin: 0px 8px;
}
.content nav ul li a {
	font-size: 27px;
	line-height: 30px;
	text-decoration: none;
	color: #164b69:
}
.content nav ul li a:hover {
	text-decoration: underline;
}
.content h1 {
	font-size: 27px;
	line-height: 30px;
	color: #000000;
	font-weight: normal;
	margin-bottom: 25px;
}
.box {
	margin: 0px 0px 106px 0px;
}
.box h2 {
	font-size: 18px;
	line-height: 21px;
	color: #000000;
	font-weight: normal;
	margin-bottom: 15px;
}
.box p {
	margin: 15px 0px 25px;
	text-indent: 24px;
}